# Collaborative filtering

## import library

In [1]:
import pandas as pd
import numpy as np
import math
import re
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD, accuracy
from sklearn.model_selection import cross_validate, train_test_split

## import files

In [2]:
ratings_df = pd.read_csv('data/ratings.csv')

In [3]:
ratings_df = ratings_df.drop(columns='timestamp')

In [4]:
ratings_df.shape

(26024289, 3)

In [5]:
ratings_df.head()

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5
2       1      858     5.0
3       1     1221     5.0
4       1     1246     5.0

In [6]:
links_df = pd.read_csv('data/links.csv')

In [7]:
links_df = links_df.drop(columns = 'imdbId')
links_df.head()

   movieId   tmdbId
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [8]:
movies_df = pd.read_csv('data/tmdb_5000_movies.csv')

## TMDB 데이터셋 기반으로 영화 ID 리스트 생성

In [9]:
movieId_list = movies_df[['id', 'title']].set_index('id').join(links_df.set_index('tmdbId')[['movieId']]).dropna()
movieId_list['movieId'] = movieId_list['movieId'].map(int)
movieId_list = movieId_list.set_index('movieId')

In [10]:
movieId_list.shape

(4599, 1)

In [11]:
movieId_list.head()

                   title
movieId
18            Four Rooms
260            Star Wars
6377        Finding Nemo
356         Forrest Gump
2858     American Beauty

## TMDB 데이터셋에 존재하지 않는 영화에 대한 평점 삭제

In [12]:
ratings_df = ratings_df[ratings_df['movieId'].isin(movieId_list.index)][['userId', 'movieId', 'rating']]

In [13]:
ratings_df.shape

(17977131, 3)

## 적은 수의 평점을 받은 영화 삭제

In [14]:
df_movie_summary = ratings_df.groupby('movieId')['rating'].agg(['count'])
print('The number of tmdb movies in rating.csv dataset : ',len(df_movie_summary))

The number of tmdb movies in rating.csv dataset :  4597

## 최소 5177개의 평점 기록이 있는 영화만 쓰도록 함.

In [15]:
movie_benchmark = int(round(df_movie_summary['count'].quantile(0.8),0))
movie_benchmark

5177

In [16]:
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index
print("Dropped movie count : ",len(drop_movie_list))
print("Target movie count : ", len(df_movie_summary) - len(drop_movie_list))

Dropped movie count :  3677
Target movie count :  920

## 적은 수의 평점을 남긴 유저 삭제를 위한 기준점 설정

In [17]:
df_user_summary = ratings_df.groupby('userId')['rating'].agg(['count'])
df_user_summary.head()

        count
userId
1          23
2          14
3           7
4          50
5          17

# 최소 280개 이상의 리뷰를 남긴 유저의 데이터만을 사용하도록 한다.

In [18]:
user_benchmark = int(round(df_user_summary['count'].quantile(0.95),0))
drop_user_list = df_user_summary[df_user_summary['count'] < user_benchmark].index
user_benchmark

280

## 앞서 설정한 기준점을 바탕으로 평점 데이터셋 가공

In [19]:
ratings_df = ratings_df[~ratings_df['movieId'].isin(drop_movie_list)]
ratings_df = ratings_df[~ratings_df['userId'].isin(drop_user_list)]

## 평점 데이터셋 가공 후의 모습

In [20]:
ratings_df.shape

(4488072, 3)

In [21]:
ratings_df.head()

      userId  movieId  rating
1710      24        1     4.0
1713      24       16     3.0
1714      24       17     3.0
1715      24       21     4.0
1716      24       25     3.0

## 데이터 전처리 후 ratings dataframe에 남은 영화 종류의 총 수

In [22]:
# num of tmdb movies after data clean
ratings_df['movieId'].nunique()

920

In [23]:
# Data Example
print(ratings_df.iloc[::500000, :])

          userId  movieId  rating
1710          24        1     4.0
2868550    29887     2599     4.5
5806126    59698    91500     2.0
8740001    90150     2948     3.0
11699629  121323     3006     5.0
14591950  151662     6874     4.0
17420662  180783    36529     3.5
20290065  210853    68954     3.5
23179335  240551     8533     3.0

In [24]:
movieId_list.head()

                   title
movieId
18            Four Rooms
260            Star Wars
6377        Finding Nemo
356         Forrest Gump
2858     American Beauty

# userId = 231이 과거에 평점 5점을 준 영화들

In [25]:
df_1 = ratings_df[(ratings_df['userId'] == 231) & (ratings_df['rating'] == 5)]
df_1 = df_1.set_index('movieId')
df_1 = df_1.join(movieId_list)['title']
df_1

movieId
110                                             Braveheart
260                                              Star Wars
318                               The Shawshank Redemption
527                                       Schindler's List
1196                               The Empire Strikes Back
1198                               Raiders of the Lost Ark
1259                                           Stand by Me
2028                                   Saving Private Ryan
3578                                             Gladiator
4993     The Lord of the Rings: The Fellowship of the Ring
33166                                                Crash
60684                                             Watchmen
Name: title, dtype: object

## ratings dataframe을 이용하여 trainset 생성

In [26]:
reader = Reader()
svd = SVD()

result = movieId_list.copy()
result = result.reset_index()
result = result[~result['movieId'].isin(drop_movie_list)]

# getting full dataset
data_set = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)

train_data_set = data_set.build_full_trainset()
#trainset, testset = train_test_split(data_set, test_size=.25)

## 모델 학습

In [27]:
#model.fit(X_train, y_train).score(X_train, y_train)
%time svd.fit(train_data_set)

Wall time: 4min 27s

## 예측 리스트에서 유저가 이미 본 영화에 대한 정보를 제거한 뒤 평점 예측 결과를 출력

In [28]:
def user_rating_prediction(userId, result):
    rating_prediction = result
    #print("length of result : ", len(result['movieId']))
    rating_prediction['Estimate_Score'] = rating_prediction['movieId'].apply(lambda x : svd.predict(userId, x).est)
    user_already_seen = ratings_df[ratings_df['userId'] == userId]
    user_already_seen = user_already_seen.set_index('movieId')
    user_already_seen = user_already_seen.join(movieId_list)['title']
    new_to_user = rating_prediction[~rating_prediction['title'].isin(user_already_seen.values)]
    new_to_user = new_to_user.sort_values('Estimate_Score', ascending=False)
    new_to_user = new_to_user.drop(columns='movieId')
    return new_to_user.head(10)

## movietitle에 해당하는 영화에 평점 5점을 남긴 유저의 아이디 목록을 출력

In [29]:
def title2userlist(movietitle):
    movie_id = movieId_list.index[movieId_list['title'] == movietitle].tolist()[0]
    user_id_list = ratings_df[ratings_df['movieId'] == movie_id][ratings_df['rating'] == 5.0]['userId'].values
    return user_id_list

## 위에 정의된 함수들을 통해 유저 100명에 해당하는 영화의 목록을 출력

In [30]:
def get_recommendation_by_title(movietitle, set_count=100):
    user_id_list = title2userlist(movietitle)
    prediction_results = list()
    for user_id in user_id_list:
        if len(prediction_results) == set_count:
            break
        temp_list = user_rating_prediction(user_id, result)['title'].values
        if len(temp_list) == 10:
            prediction_results.append(temp_list)
    return prediction_results

## Alien 영화를 좋아하는 유저 100명이 좋아할 만한 영화의 목록을 출력

In [31]:
final_result = get_recommendation_by_title('Alien')
final_result

C:\Users\PSY\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

[array(['The Princess Bride', 'The Dark Knight', 'Braveheart',
        "National Lampoon's Vacation", 'Guardians of the Galaxy',
        'Toy Story 3', 'How to Train Your Dragon', 'Iron Man',
        'Batman Begins', 'Up'], dtype=object),
 array(['Seven Samurai', 'The Lives of Others', 'Spirited Away',
        'Being John Malkovich', 'Eternal Sunshine of the Spotless Mind',
        'Lawrence of Arabia', 'Das Boot', 'No Country for Old Men',
        'The Usual Suspects', 'City of God'], dtype=object),
 array(['Psycho', '12 Angry Men', 'City of God', 'Interstellar',
        'Saving Private Ryan', 'There Will Be Blood',
        "National Lampoon's Vacation", 'The Lives of Others', 'Ex Machina',
        'Mad Max: Fury Road'], dtype=object),
 array(['The Lord of the Rings: The Fellowship of the Ring', 'Casablanca',
        'The Lord of the Rings: The Return of the King',
        'The Lord of the Rings: The Two Towers', 'Seven Samurai',
        'Spirited Away', 'The Lives of Others',
        'The Good, the Bad and the Ugly', 'Downfall', 'Doctor Zhivago'],
       dtype=object),
 array(['The Godfather: Part II', 'Whiplash',
        'Once Upon a Time in the West', 'The Wolf of Wall Street',
        'Raging Bull', 'Das Boot', 'Before Sunrise',
        'Night of the Living Dead',
        'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
        'The Lives of Others'], dtype=object),
 array(['No Country for Old Men', 'The Godfather', 'Mad Max: Fury Road',
        'The Godfather: Part II', 'Terminator 2: Judgment Day',
        'Taxi Driver', 'There Will Be Blood', 'Annie Hall',
        "One Flew Over the Cuckoo's Nest", 'Die Hard'], dtype=object),
 array(['The Lives of Others', 'Hero', 'Snatch', 'Brazil', 'Seven Samurai',
        '12 Angry Men',
        'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        'Black Swan', "One Flew Over the Cuckoo's Nest", 'Inside Out'],
       dtype=object),
 array(['Fantastic Mr. Fox', 'Network', 'Before Sunrise', 'Whiplash',
        'The Lives of Others', 'Dangerous Liaisons', 'Midnight in Paris',
        'Downfall', 'The Untouchables', 'The Apartment'], dtype=object),
 array(['The Dark Knight', 'Casino', 'Once Upon a Time in the West',
        'Inception', 'Django Unchained', 'Das Boot', 'Gran Torino',
        'District 9', 'The Bourne Ultimatum', 'The Dark Knight Rises'],
       dtype=object),
 array(['Die Hard', 'Raiders of the Lost Ark', 'Avatar',
        'Edge of Tomorrow', 'Speed', 'Star Trek Into Darkness',
        'The Sixth Sense', 'The Martian', 'The Fugitive',
        "It's a Wonderful Life"], dtype=object),
 array(['The Godfather', 'The Godfather: Part II', 'City of God',
        'Scarface', 'Amores perros', 'A Fistful of Dollars', 'Raging Bull',
        'Glengarry Glen Ross', 'The Departed',
        'Butch Cassidy and the Sundance Kid'], dtype=object),
 array(['Star Trek II: The Wrath of Khan', 'Star Trek: First Contact',
        'Star Trek VI: The Undiscovered Country', 'Tombstone',
        'The Princess Bride', 'Star Trek IV: The Voyage Home',
        'Army of Darkness', 'Monty Python and the Holy Grail', 'Casino',
        'Star Trek III: The Search for Spock'], dtype=object),
 array(['Shrek', 'Tootsie', 'Million Dollar Baby', 'Pride & Prejudice',
        'Erin Brockovich', "The King's Speech", 'Inside Out',
        'Groundhog Day', 'The Lives of Others', 'Finding Nemo'],
       dtype=object),
 array(['The Sting', 'The Untouchables', 'A Christmas Story',
        'The Great Escape', 'To Kill a Mockingbird', 'The Imitation Game',
        'GoodFellas', 'From Russia with Love',
        'The Bridge on the River Kwai',
        'Butch Cassidy and the Sundance Kid'], dtype=object),
 array(['Interstellar', 'Whiplash', 'JFK', 'The Wolf of Wall Street',
        'Gone Girl', "One Flew Over the Cuckoo's Nest",
        'The Good, the Bad and the Ugly', '12 Angry Men', 'Deadpool',
        'Gran Torino'], dtype=object),
 array(['Whiplash', 'The Godfather', 'Kids', 'Mulholland Drive',
        'Taxi Driver', 'Seven Samurai', 'Once Upon a Time in the West',
        'Brazil', 'The Thing', 'The Godfather: Part II'], dtype=object),
 array(['Lawrence of Arabia', 'Seven Samurai', 'Raging Bull',
        'On the Waterfront', 'Do the Right Thing',
        'The Bridge on the River Kwai', 'The Apartment',
        'The Great Escape', 'Rebecca', 'Mr. Smith Goes to Washington'],
       dtype=object),
 array(['The Princess Bride', 'Hot Fuzz', 'Spirited Away',
        'Kill Bill: Vol. 1', 'Kill Bill: Vol. 2', 'Oldboy',
        'The Grand Budapest Hotel', 'Moonrise Kingdom', 'Seven Samurai',
        "One Flew Over the Cuckoo's Nest"], dtype=object),
 array(["One Flew Over the Cuckoo's Nest", 'American Beauty', 'JFK',
        'Before Sunrise', 'Terminator 2: Judgment Day', 'Whiplash',
        '12 Angry Men', 'Mystic River', 'The Untouchables', 'Unforgiven'],
       dtype=object),
 array(['The Lord of the Rings: The Return of the King',
        'The Lord of the Rings: The Two Towers',
        'The Lord of the Rings: The Fellowship of the Ring', 'Star Wars',
        'Crash', 'American History X', "Schindler's List",
        'The Dark Knight', 'The Avengers', 'Deadpool'], dtype=object),
 array(['Groundhog Day', 'The Elephant Man', 'Das Boot',
        'The Lives of Others', 'Monty Python and the Holy Grail', 'Babe',
        'Rebecca', 'The Deer Hunter', 'Downfall', 'Inside Out'],
       dtype=object),
 array(['Once Upon a Time in the West', "Singin' in the Rain", 'Ed Wood',
        'The Incredibles', 'Inside Out', 'Mad Max: Fury Road',
        'Toy Story 3', 'City of God', 'Metropolis', 'The Big Lebowski'],
       dtype=object),
 array(["Howl's Moving Castle", 'Spirited Away', 'District 9',
        'Princess Mononoke', 'Star Trek', 'Coraline', 'Stardust',
        'The Dark Knight', 'Watchmen', 'Corpse Bride'], dtype=object),
 array(['Amélie', 'Downfall', 'Seven Samurai', 'Das Boot', '12 Angry Men',
        'Spirited Away', 'Brokeback Mountain', 'Memento',
        'Mr. Smith Goes to Washington', 'The Lives of Others'],
       dtype=object),
 array(['Lawrence of Arabia', 'A Streetcar Named Desire', 'The Apartment',
        'Downfall', 'Rebecca', 'Mr. Smith Goes to Washington',
        'Requiem for a Dream', 'Shine', 'Hotel Rwanda', 'Network'],
       dtype=object),
 array(['Inside Man', 'The Imitation Game', 'American History X',
        'The Bourne Ultimatum', 'X-Men: First Class',
        'X-Men: Days of Future Past', 'Serenity',
        'The Wolf of Wall Street', 'The Departed', 'The Prestige'],
       dtype=object),
 array(['Being John Malkovich', 'Amélie', 'Amadeus', 'The Dark Knight',
        'City of God', 'The Great Escape', 'Rushmore',
        'Once Upon a Time in the West', 'Roger & Me',
        'Requiem for a Dream'], dtype=object),
 array(['Eyes Wide Shut', "Rosemary's Baby", 'The Thin Red Line',
        'Once Upon a Time in the West', 'Jaws', 'Das Boot',
        'Glengarry Glen Ross', 'Jurassic Park', 'The Insider',
        'A Simple Plan'], dtype=object),
 array(['The Shawshank Redemption', 'Avatar', 'The Usual Suspects',
        'The Naked Gun 2½: The Smell of Fear', '12 Angry Men',
        'A Christmas Story', 'The Princess Bride', 'Die Hard',
        'Inside Out', 'Requiem for a Dream'], dtype=object),
 array(['The Great Escape', '12 Angry Men', 'Deadpool',
        'To Kill a Mockingbird', 'Mr. Smith Goes to Washington',
        'The Martian', 'WarGames', 'Ever After: A Cinderella Story',
        'The Blind Side', 'The Imitation Game'], dtype=object),
 array(['The Lives of Others', 'City of God', 'The Great Escape',
        'Seven Samurai', 'Lock, Stock and Two Smoking Barrels',
        'Mr. Smith Goes to Washington', '12 Angry Men', 'Hotel Rwanda',
        'The Departed', 'The Sting'], dtype=object),
 array(['Oldboy', 'The Good, the Bad and the Ugly', 'American History X',
        'The Machinist', 'Mystic River', 'Road to Perdition', 'Inside Man',
        'The Insider', 'Brazil', '12 Angry Men'], dtype=object),
 array(['The Good, the Bad and the Ugly', 'Casino',
        'The Godfather: Part II', 'Seven Samurai', 'Whiplash', 'Gone Girl',
        'The Wolf of Wall Street', 'Groundhog Day', 'The Departed',
        'Terminator 2: Judgment Day'], dtype=object),
 array(['Seven Samurai', 'The Lives of Others', 'Lawrence of Arabia',
        'WALL·E', 'The Apartment', 'Eternal Sunshine of the Spotless Mind',
        '12 Angry Men', 'Fantastic Mr. Fox', 'City of God',
        'The Grand Budapest Hotel'], dtype=object),
 array(['The Thin Red Line', 'Seven Samurai', 'Rushmore',
        'Princess Mononoke', 'Spirited Away', 'The Thing',
        'Night of the Living Dead', 'Unforgiven', 'Punch-Drunk Love',
        "Rosemary's Baby"], dtype=object),
 array(['To Kill a Mockingbird', 'Network', 'Once Upon a Time in the West',
        'The Insider', 'Moonrise Kingdom', 'Oldboy',
        'The Last King of Scotland', 'Malcolm X', '21 Grams', 'Hamlet'],
       dtype=object),
 array(['Tangled', 'Inside Out', 'Remember the Titans', 'The Great Escape',
        "Schindler's List", 'Hitch', 'The Notebook', 'City of Angels',
        'Clueless', 'A Christmas Story'], dtype=object),
 array(['The Pianist', 'Downfall', 'The Elephant Man', 'Hotel Rwanda',
        'Dances with Wolves', 'Cinderella Man', 'There Will Be Blood',
        'Reservoir Dogs', 'Munich', 'The Departed'], dtype=object),
 array(['Inception', 'Deadpool', 'The Lives of Others', 'Django Unchained',
        'Inglourious Basterds', 'The Grand Budapest Hotel', 'The Avengers',
        'GoodFellas', 'The Martian', 'Once Upon a Time in the West'],
       dtype=object),
 array(['Once Upon a Time in the West', 'Donnie Darko', 'Event Horizon',
        '12 Angry Men', 'Unforgiven', 'True Romance', 'City of God',
        'Akira', 'Requiem for a Dream', 'Platoon'], dtype=object),
 array(['Memento', 'The Departed', 'No Country for Old Men',
        'There Will Be Blood', 'Eternal Sunshine of the Spotless Mind',
        'American History X', 'Mystic River', 'City of God',
        'The Social Network', 'The Dark Knight'], dtype=object),
 array(['Eternal Sunshine of the Spotless Mind', 'Kill Bill: Vol. 1',
        'Oldboy', 'The Grand Budapest Hotel', 'Sin City',
        'Kill Bill: Vol. 2', 'Birdman', 'In Bruges', 'Seven Samurai',
        'Black Swan'], dtype=object),
 array(['There Will Be Blood', 'Seven Samurai',
        'Once Upon a Time in the West', 'Whiplash', 'Moonrise Kingdom',
        'Black Swan', 'The Good, the Bad and the Ugly',
        'Lawrence of Arabia', 'Network', 'The Ice Storm'], dtype=object),
 array(['The Hobbit: An Unexpected Journey',
        'The Hobbit: The Desolation of Smaug', 'Interstellar',
        'X-Men: Days of Future Past', 'Rise of the Planet of the Apes',
        'X-Men: First Class', 'Thor', 'Conan the Barbarian',
        'Indiana Jones and the Temple of Doom', 'Edge of Tomorrow'],
       dtype=object),
 array(['Into the Wild', 'The Lives of Others', 'The Grand Budapest Hotel',
        '12 Angry Men', 'Eternal Sunshine of the Spotless Mind',
        'Sling Blade', 'Lock, Stock and Two Smoking Barrels',
        'The Wrestler', 'Fantastic Mr. Fox', 'Gran Torino'], dtype=object),
 array(['Once Upon a Time in the West', '12 Angry Men', 'City of God',
        'Oldboy', 'The Big Lebowski', 'No Country for Old Men',
        "Rosemary's Baby", 'The Lives of Others', 'Das Boot',
        'The Apartment'], dtype=object),
 array(['Seven Samurai', 'Die Hard', '12 Angry Men', 'Das Boot',
        'The Usual Suspects', 'Groundhog Day', 'The Great Escape',
        'The Sting', "One Flew Over the Cuckoo's Nest",
        'The Bridge on the River Kwai'], dtype=object),
 array(['The Godfather', 'The Godfather: Part II',
        "One Flew Over the Cuckoo's Nest", 'Seven Samurai',
        'Monty Python and the Holy Grail', 'The Shining',
        'The Good, the Bad and the Ugly', 'Das Boot', 'Fight Club',
        'Amadeus'], dtype=object),
 array(['Memento', 'Deadpool', 'The Sting', 'Ex Machina',
        'The Lives of Others', 'Edge of Tomorrow', 'Trainspotting',
        "One Flew Over the Cuckoo's Nest", 'Casablanca',
        'Eternal Sunshine of the Spotless Mind'], dtype=object),
 array(['Hot Fuzz', 'Deadpool', "Pan's Labyrinth", 'Zombieland',
        'Little Miss Sunshine', 'Serenity', 'In Bruges',
        'The Lives of Others', 'Sling Blade', 'Juno'], dtype=object),
 array(['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        'Psycho', 'The Lord of the Rings: The Fellowship of the Ring',
        'Rebecca', 'No Country for Old Men', 'Lawrence of Arabia', 'Jaws',
        'Run Lola Run', 'Spirited Away', 'Memento'], dtype=object),
 array(['Groundhog Day', 'The Good, the Bad and the Ugly',
        'Raiders of the Lost Ark', 'Airplane!', 'Die Hard',
        "National Lampoon's Vacation", 'A Christmas Story',
        'The Shawshank Redemption', "It's a Wonderful Life",
        'The Princess Bride'], dtype=object),
 array(['Casablanca', 'Avatar', 'The Lives of Others',
        'Once Upon a Time in the West', 'Lawrence of Arabia', 'Amélie',
        'Star Wars', 'Rebecca', 'City of God', 'The Empire Strikes Back'],
       dtype=object),
 array(['The Lives of Others', 'Seven Samurai', 'Black Swan', 'Whiplash',
        'The Grand Budapest Hotel', 'Toy Story 3', 'Moonrise Kingdom',
        'Up', 'Memento', 'Inside Out'], dtype=object),
 array(['The Wizard of Oz', "It's a Wonderful Life",
        'The NeverEnding Story', 'Ever After: A Cinderella Story',
        'Serial Mom', 'Mr. Smith Goes to Washington', 'A Room with a View',
        'WarGames', 'Pinocchio', 'Heavenly Creatures'], dtype=object),
 array(['The Lives of Others', 'Children of Men', 'Shaun of the Dead',
        'City of God', 'Unforgiven', 'Serenity', 'Repo Man', 'The Sting',
        'High Noon', 'Downfall'], dtype=object),
 array(['No Country for Old Men', 'Fantastic Mr. Fox',
        'There Will Be Blood', 'City of God', 'The Grand Budapest Hotel',
        'To Kill a Mockingbird', 'Seven Samurai', 'Up',
        'The Lives of Others', 'Whiplash'], dtype=object),
 array(['No Country for Old Men',
        'The Lord of the Rings: The Return of the King', 'City of God',
        'Lost in Translation', 'Once Upon a Time in the West',
        'There Will Be Blood', 'Eternal Sunshine of the Spotless Mind',
        'Oldboy', 'The Lives of Others', 'Downfall'], dtype=object),
 array(['2001: A Space Odyssey', 'Seven Samurai', 'Mad Max: Fury Road',
        'The Godfather', 'The Good, the Bad and the Ugly',
        'Once Upon a Time in the West', 'Inside Out', '12 Angry Men',
        'Whiplash', 'Her'], dtype=object),
 array(['Brokeback Mountain', 'Toy Story 3', 'Mad Max: Fury Road',
        'Toy Story 2', 'Rebecca', 'Snow White and the Seven Dwarfs',
        'A Christmas Story', 'Whiplash', 'Mr. Smith Goes to Washington',
        'Up'], dtype=object),
 array(["One Flew Over the Cuckoo's Nest", 'City of God',
        'The Godfather: Part II', 'American History X', '12 Angry Men',
        'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        'Once Upon a Time in the West', 'The Good, the Bad and the Ugly',
        'Apocalypse Now', 'Amadeus'], dtype=object),
 array(['Malcolm X', 'Bullets Over Broadway', 'About Schmidt',
        'Wonder Boys', 'The 40 Year Old Virgin', 'The Muppet Movie',
        'Chasing Amy', 'Captain America: The Winter Soldier',
        'Wag the Dog', "Boys Don't Cry"], dtype=object),
 array(['The Dark Knight', 'The Lord of the Rings: The Return of the King',
        'The Lord of the Rings: The Fellowship of the Ring',
        'The Lord of the Rings: The Two Towers', 'American History X',
        'The Departed', 'Million Dollar Baby', 'American Beauty',
        'Inception', 'City of God'], dtype=object),
 array(['The Lord of the Rings: The Return of the King', 'The Incredibles',
        'The Lord of the Rings: The Fellowship of the Ring', 'Star Trek',
        'The Lord of the Rings: The Two Towers',
        'Star Wars: Episode III - Revenge of the Sith', 'Shrek',
        'Star Trek Into Darkness',
        'Pirates of the Caribbean: The Curse of the Black Pearl',
        'Finding Nemo'], dtype=object),
 array(['Lawrence of Arabia', 'Downfall', 'The Bourne Ultimatum',
        'The Lives of Others', 'High Noon',
        'The Lord of the Rings: The Return of the King', 'Goldfinger',
        'Glory', 'On the Waterfront',
        'The Lord of the Rings: The Fellowship of the Ring'], dtype=object),
 array(['Her', 'The Grand Budapest Hotel', 'Mad Max: Fury Road',
        'Interstellar', 'Whiplash', 'Ex Machina', 'The Thin Red Line',
        'Birdman', 'Network', '12 Angry Men'], dtype=object),
 array(['Guardians of the Galaxy', 'Batman Begins', 'The Dark Knight',
        'The Incredibles', 'Iron Man', 'The Avengers', 'Deadpool',
        'The Usual Suspects', 'Inception', 'Serenity'], dtype=object),
 array(["One Flew Over the Cuckoo's Nest", 'Downfall', 'Scarface',
        'No Country for Old Men', 'The Evil Dead', 'City of God',
        'The Lives of Others', 'Metropolis', 'Gran Torino', 'Mystic River'],
       dtype=object),
 array(["One Flew Over the Cuckoo's Nest", 'Once Upon a Time in the West',
        'Spirited Away', 'Princess Mononoke', 'Scarface',
        'The Lives of Others', "Howl's Moving Castle",
        'The Shawshank Redemption', 'Oldboy', 'WALL·E'], dtype=object),
 array(['The Dark Knight', 'Trainspotting', 'District 9',
        'Guardians of the Galaxy', 'Deadpool', 'Zombieland',
        'Mad Max: Fury Road', 'Lost in Translation', 'Whiplash',
        'Ex Machina'], dtype=object),
 array(['12 Angry Men', 'Once Upon a Time in the West',
        'The Good, the Bad and the Ugly', 'The Godfather: Part II',
        'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        'Whiplash', 'The Wolf of Wall Street', 'The Big Lebowski',
        'Glengarry Glen Ross', 'Seven Samurai'], dtype=object),
 array(['The Godfather: Part II', 'L.A. Confidential',
        'The Lives of Others', 'Seven Samurai', 'Network',
        'The Good, the Bad and the Ugly', 'Das Boot', 'On the Waterfront',
        'Annie Hall', 'Unforgiven'], dtype=object),
 array(['Drive', 'The Great Escape', 'Amores perros',
        'Glengarry Glen Ross', 'To Kill a Mockingbird', 'The Sting',
        'Before Sunrise', 'Rebecca', 'Inside Out', 'In Bruges'],
       dtype=object),
 array(["It's a Wonderful Life", 'The Lion King',
        'The Good, the Bad and the Ugly', 'The Bridge on the River Kwai',
        'Toy Story 3', 'Glory', 'The Great Escape',
        "One Flew Over the Cuckoo's Nest", 'A Few Good Men',
        'To Kill a Mockingbird'], dtype=object),
 array(['Grease', 'Caddyshack', 'Mad Max 2: The Road Warrior',
        'Fast Times at Ridgemont High', 'The Usual Suspects',
        "National Lampoon's Vacation", 'Pride & Prejudice', 'Mad Max',
        'Guardians of the Galaxy', 'The Imitation Game'], dtype=object),
 array(['Lost in Translation', 'Mulholland Drive', 'Being John Malkovich',
        'Eternal Sunshine of the Spotless Mind',
        'Once Upon a Time in the West', 'Spirited Away', 'City of God',
        'Amélie', 'Memento', 'Do the Right Thing'], dtype=object),
 array(['First Blood', 'The Rock', 'Rocky', 'Raiders of the Lost Ark',
        'The Bourne Ultimatum', 'The Untouchables', 'Scarface',
        'Pulp Fiction', 'The Dark Knight', 'Goldfinger'], dtype=object),
 array(['Toy Story 3', '12 Angry Men', 'Spider-Man 2', 'Raging Bull',
        'The Lord of the Rings: The Return of the King', 'The Dark Knight',
        'The Incredibles', 'The Lives of Others', 'Finding Nemo',
        'Seven Samurai'], dtype=object),
 array(['Star Trek', 'Avatar', 'Inception', 'Seven Samurai',
        "The King's Speech", 'The Lives of Others', 'The Usual Suspects',
        'Hotel Rwanda', 'Crash', 'Star Trek Into Darkness'], dtype=object),